.login-modal {
  &.fade:not(.show) {
    opacity: 0;
    pointer-events: none;
    .modal-content {
      opacity: 0;
      pointer-events: none;
      transition-delay: 0.5s;
    }
  }
  @media screen and (min-width: 820px) {
    .modal-content {
      flex-direction: row;
      border-radius: 0.5rem;
      border: none;

      .modal-header,
      .modal-body {
        flex: 0.5;
        border: none;
        border-radius: 0.5rem;
      }
      .modal-header {
        flex-direction: column;
        background-color: var(--primary);
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        color: white;
      }
    }
  }
}
